* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.6;
    color: #444;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 20px;
    color: #25282c;
    font-weight: 400;
}

a, a:hover, a:focus, a:active, a.active {
    color: inherit;
    text-decoration: none;
    outline: none;
}
ol, ul {
    overflow-wrap: break-word;
}
.main-header {
    position: relative;
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -ms-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background: #fff;
    z-index: 999;
    left: 0;
    right: 0;
    top: 0;
    bottom: auto;
    margin: auto;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

header.main-header .site-top {
    color: #888;
    border-bottom: solid 1px #eee;
    text-transform: none;
    font-size: 14px;
    font-weight: 400;
    padding: 0;
    word-spacing: 1px;
    position: relative;
    z-index: 9999;
}

header.main-header .site-top .site-top-left {
    float: left;
}
header.main-header .site-top .site-top-right {
    float: right;
}
header.main-header .site-top .site-top-left .zorka-login-link {
    padding: 10px 0;
}
header.main-header .site-top .site-top-left .zorka-login-link a {
    color: #f04;
}
header.main-header .site-top .site-top-right ul.my-setting {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
}
header.main-header .site-top .site-top-right ul.my-setting li {
    padding: 10px 0;
    cursor: pointer;
}
header.main-header .site-top .site-top-right ul.my-setting ul {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    -webkit-box-shadow: 0px 3px 10px -2px #777;
    -moz-box-shadow: 0px 3px 10px -2px #777;
    box-shadow: 0px 3px 10px -2px #777;
    background: #fff;
    min-width: 180px;
}
header.main-header .site-top .site-top-right ul.my-setting li:hover ul {
    display: block;
}
header.main-header .site-top .site-top-right ul.my-setting ul li {
    padding: 10px 10px;
    white-space: nowrap;
}
header.main-header .site-top .site-top-right ul.my-setting ul li + li {
    border-top: solid 1px #f5f5f5;
}
header.main-header .site-top .site-top-right ul.my-setting ul li a {
    color: #888;
    text-transform: uppercase;
    font-size: 12px;
}

header.main-header .header .zorka-navbar-header {
    position: relative;
    padding: 10px 0 10px;
    font-size: 0;
}
header.main-header .header .zorka-navbar-header .social-link {
    width: 30%;
}
header.main-header .header .social-link {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}
header.main-header .header .social-link > li {
    display: inline-block;
    padding: 5px 0;
}
header.main-header .header .social-link > li + li {
    padding-left: 15px;
}
header.main-header .header .social-link a {
    font-size: 17px;
    color: #ccc;
}
header.main-header .header .zorka-navbar-header .header-logo {
    width: 40%;
}
header.main-header .header .header-logo {
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    text-align: center;
}
.header-logo img {
    height: auto;
    max-width: 100%;
}
header.main-header .header .zorka-navbar-header .shopping-cart-wrapper {
    width: 30%;
}
header.main-header .header .shopping-cart-wrapper {
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    text-align: right;
    position: relative;
}
header.main-header .header .shopping-cart-wrapper .widget_shopping_cart_content {
    display: inline-block;
    text-align: left;
}
header.main-header .header .shopping-cart-wrapper .widget_shopping_cart_content .widget_shopping_cart_icon {
    position: relative;
    display: inline-block;
}
header.main-header .header .shopping-cart-wrapper .widget_shopping_cart_content .widget_shopping_cart_icon i {
    font-size: 36px;
    cursor: pointer;
    display: inline-block;
    color: #ada9a9;
}
header.main-header .header .shopping-cart-wrapper .widget_shopping_cart_content .widget_shopping_cart_icon span {
    position: absolute;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #f04;
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    top: 0px;
    right: -10px;
    text-align: center;
    line-height: 20px;
}
header.main-header .header .shopping-cart-wrapper .widget_shopping_cart_content .cart_list_wrapper {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: auto;
    z-index: 9998;
    width: 370px;
    background: #fff;
    border-top: solid 1px #222;
    -webkit-box-shadow: 0px 3px 10px -2px #777;
    -moz-box-shadow: 0px 3px 10px -2px #777;
    box-shadow: 0px 3px 10px -2px #777;
    padding: 0 20px;
}
header.main-header .header .shopping-cart-wrapper .widget_shopping_cart_content:hover .cart_list_wrapper {
    display: block;
}
.cart_list_wrapper ul.cart_list, .cart_list_wrapper ul.product_list_widget {
    list-style: none outside;
    padding: 0;
    margin: 0;
}
.cart_list_wrapper  ul.cart_list li, .cart_list_wrapper ul.product_list_widget li {
    padding: 4px 0;
    margin: 0;
    list-style: none;
}
header.main-header .header .shopping-cart-wrapper .widget_shopping_cart_content .cart_list_wrapper li {
    padding: 10px 0;
    margin: 0;
    position: relative;
    border-bottom: solid 1px #ddd;
}
header.main-header .header .shopping-cart-wrapper .widget_shopping_cart_content .cart_list_wrapper li.empty {
    padding: 45px 0;
    text-align: center;
}
header.main-header .header .shopping-cart-wrapper .widget_shopping_cart_content .cart_list_wrapper li.empty h4 {
    text-transform: uppercase;
    color: #25282c;
    padding: 0 0 15px;
    margin: 0;
    font-size: 16px;
    word-spacing: 0.2em;
}
header.main-header .header .shopping-cart-wrapper .widget_shopping_cart_content .cart_list_wrapper li.empty p {
    color: #444;
    padding: 0;
    margin: 0;
}
.sticky-header {
    background: #25292c;
}
@media screen and (max-width: 991px) {
    .sticky-header {
        background: #fff;
        border: none ;
    }
}

.sticky-header .dropdown-toggle::after {
    display: none;
}

.sticky-header .pe-7s-menu {
    font-size: 28px;
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;
    position: relative;
}
.sticky-header .product-category {
    background: #f04;
    color: #fff;
    padding: 20px;
    font-size: 0;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    position: relative;
    z-index: 9999;
}

.sticky-header .product-category-text {
    display: inline-block;
    text-transform: uppercase;
    vertical-align: middle;
    font-size: 14px;
    padding-left: 15px;
    line-height: 20px;
}
