* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.6;
    color: #444;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 20px;
    color: #25282c;
    font-weight: 400;
}

a, a:hover, a:focus, a:active, a.active {
    color: inherit;
    text-decoration: none;
    outline: none;
}
.button-2 {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
ol, ul {
    overflow-wrap: break-word;
}
.px-6, .px-sm-6, .px-md-6, .px-lg-6 {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-bottom-30 {
    margin-bottom: 30px;
}
.margin-bottom-50 {
    margin-bottom: 50px !important;
}
.separator {
    margin-top: 0px;
    margin-bottom: 20px;
    opacity: .1;
}
.main-header {
    position: relative;
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -ms-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background: #fff;
    z-index: 999;
    left: 0;
    right: 0;
    top: 0;
    bottom: auto;
    margin: auto;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

header.main-header .site-top {
    color: #888;
    border-bottom: solid 1px #eee;
    text-transform: none;
    font-size: 14px;
    font-weight: 400;
    padding: 0;
    word-spacing: 1px;
    position: relative;
    z-index: 9999;
}

header.main-header .site-top .site-top-left {
    float: left;
}
header.main-header .site-top .site-top-right {
    float: right;
}
header.main-header .site-top .site-top-left .zorka-login-link {
    padding: 10px 0;
}
header.main-header .site-top .site-top-left .zorka-login-link a {
    color: #f04;
}
header.main-header .site-top .site-top-right ul.my-setting {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
}
header.main-header .site-top .site-top-right ul.my-setting li {
    padding: 10px 0;
    cursor: pointer;
}
header.main-header .site-top .site-top-right ul.my-setting ul {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    -webkit-box-shadow: 0px 3px 10px -2px #777;
    -moz-box-shadow: 0px 3px 10px -2px #777;
    box-shadow: 0px 3px 10px -2px #777;
    background: #fff;
    min-width: 180px;
}
header.main-header .site-top .site-top-right ul.my-setting li:hover ul {
    display: block;
}
header.main-header .site-top .site-top-right ul.my-setting ul li {
    padding: 10px 10px;
    white-space: nowrap;
}
header.main-header .site-top .site-top-right ul.my-setting ul li + li {
    border-top: solid 1px #f5f5f5;
}
header.main-header .site-top .site-top-right ul.my-setting ul li a {
    color: #888;
    text-transform: uppercase;
    font-size: 12px;
}

header.main-header .header .zorka-navbar-header {
    position: relative;
    padding: 10px 0 10px;
    font-size: 0;
}
header.main-header .header .zorka-navbar-header .social-link {
    width: 30%;
}
header.main-header .header .social-link {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}
header.main-header .header .social-link > li {
    display: inline-block;
    padding: 5px 0;
}
header.main-header .header .social-link > li + li {
    padding-left: 15px;
}
header.main-header .header .social-link a {
    font-size: 17px;
    color: #ccc;
}
header.main-header .header .zorka-navbar-header .header-logo {
    width: 40%;
}
header.main-header .header .header-logo {
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    text-align: center;
}
.header-logo img {
    height: auto;
    max-width: 100%;
}
header.main-header .header .zorka-navbar-header .shopping-cart-wrapper {
    width: 30%;
}
header.main-header .header .shopping-cart-wrapper {
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    text-align: right;
    position: relative;
}
header.main-header .header .shopping-cart-wrapper .widget_shopping_cart_content {
    display: inline-block;
    text-align: left;
}
header.main-header .header .shopping-cart-wrapper .widget_shopping_cart_content .widget_shopping_cart_icon {
    position: relative;
    display: inline-block;
}
header.main-header .header .shopping-cart-wrapper .widget_shopping_cart_content .widget_shopping_cart_icon i {
    font-size: 36px;
    cursor: pointer;
    display: inline-block;
    color: #ada9a9;
}
header.main-header .header .shopping-cart-wrapper .widget_shopping_cart_content .widget_shopping_cart_icon span {
    position: absolute;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #f04;
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    top: 0px;
    right: -10px;
    text-align: center;
    line-height: 20px;
}
header.main-header .header .shopping-cart-wrapper .widget_shopping_cart_content .cart_list_wrapper {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: auto;
    z-index: 9998;
    width: 370px;
    background: #fff;
    border-top: solid 1px #222;
    -webkit-box-shadow: 0px 3px 10px -2px #777;
    -moz-box-shadow: 0px 3px 10px -2px #777;
    box-shadow: 0px 3px 10px -2px #777;
    padding: 0 20px;
}
header.main-header .header .shopping-cart-wrapper .widget_shopping_cart_content:hover .cart_list_wrapper {
    display: block;
}
.cart_list_wrapper ul.cart_list, .cart_list_wrapper ul.product_list_widget {
    list-style: none outside;
    padding: 0;
    margin: 0;
}
.cart_list_wrapper  ul.cart_list li, .cart_list_wrapper ul.product_list_widget li {
    padding: 4px 0;
    margin: 0;
    list-style: none;
}
header.main-header .header .shopping-cart-wrapper .widget_shopping_cart_content .cart_list_wrapper li {
    padding: 10px 0;
    margin: 0;
    position: relative;
    border-bottom: solid 1px #ddd;
}
header.main-header .header .shopping-cart-wrapper .widget_shopping_cart_content .cart_list_wrapper li.empty {
    padding: 45px 0;
    text-align: center;
}
header.main-header .header .shopping-cart-wrapper .widget_shopping_cart_content .cart_list_wrapper li.empty h4 {
    text-transform: uppercase;
    color: #25282c;
    padding: 0 0 15px;
    margin: 0;
    font-size: 16px;
    word-spacing: 0.2em;
}
header.main-header .header .shopping-cart-wrapper .widget_shopping_cart_content .cart_list_wrapper li.empty p {
    color: #444;
    padding: 0;
    margin: 0;
}
.sticky-header {
    background: #25292c;
}
@media screen and (max-width: 991px) {
    .sticky-header {
        background: #fff;
        border: none ;
    }
}

.sticky-header .dropdown-toggle::after {
    display: none;
}

.sticky-header .pe-7s-menu {
    font-size: 28px;
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;
    position: relative;
}
.sticky-header .product-category {
    background: #f04;
    color: #fff;
    padding: 20px;
    font-size: 0;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    position: relative;
    z-index: 9999;
}

.sticky-header .product-category-text {
    display: inline-block;
    text-transform: uppercase;
    vertical-align: middle;
    font-size: 14px;
    padding-left: 15px;
    line-height: 20px;
}
/* .sticky-header .product-category + li {
    padding-left: 40px;
} */
.sticky-header .nav-mod-link {
    padding: 20px 0;
    display: inline-block;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-family: Montserrat;
}

.sticky-header .nav-mod-link .x-menu-text {
    position: relative;
}

.sticky-header .nav-mod-link .x-menu-icon {
    font-size: 16px;
    font-weight: 400;
    position: relative;
    top: 2px;
}
.sticky-header .nav-mod-link .x-menu-text::after {
    content: '';
    position: absolute;
    display: block;
    margin: auto;
    border-bottom: 1px solid #fff;
    height: 1px;
    width: 100%;
    top: 100%;
    left: 0;
    right: 0;
    transition: all 0.5s;
    margin-top: 3px;
}
.sticky-header .nav-item:not(:first-child) {
    margin-left: 40px;
}

#wrapper-content {
    background-color: #FFFFFF;
    position: relative;
    z-index: 1;
}
.fullwidth {
    overflow: hidden;
}
.fullwidth:before, .fullwidth:after {
    content: " ";
    display: table;
}
.fullwidth:after {
    clear: both;
}
#wrapper-content .slider-image {
    background-repeat: no-repeat;
    background-image: url('../img/1.-1920-x-600.webp');
    background-size: 100% 100%;
    background-position: center center;
    width: 100%;
    height: 500px;
    opacity: 1;
    visibility: inherit;
    z-index: 20;
}
#wrapper-content .slider-image.image1 {
    background-image: url('../img/1.-1920-x-600.webp');
}
#wrapper-content .slider-image.image2 {
    background-image: url('../img/2.-1920-x-600.webp');
}
#wrapper-content .slider-image.image3 {
    background-image: url('../img/3.-1920-x-600.webp');
}
.site-content .zorka-icon-box {
    display: flex;
    justify-content: space-between;
    background-color: #c97278;
    transition: all .5s cubic-bezier(.215, .61, .355, 1);
    transform: translateY(0px);
}
.site-content .zorka-icon-box::before {
    content: "";
    position: absolute;
    pointer-events: none;
    z-index: -1;
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.35) 0%, rgba(0,0,0,0) 80%);
    transition: all .5s cubic-bezier(.215, .61, .355, 1);
}
.site-content .zorka-icon-box:hover::before {
    opacity: 1;
    transform: translateY(5px);
}

.site-content .zorka-icon-box:hover {
    transform: translateY(-5px);
}

.site-content .zbox-title {
    font-family: Montserrat;
    text-transform: uppercase;
    line-height: 14px;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    color: #ffffff;
    display: block;
    height: 100%;
    transition: all .3s;
    padding: 1.7rem 2.6rem;
}

.site-content .zbox-icon {
    display: block;
    background-color: #b4666c;
    padding: 0rem 1.2rem;
}

.site-content .zbox-icon i {
    color: #ffffff;
    font-size: 32px;
    line-height: 70px;
}
.site-content .title-shortcode h2 {
    font-size: 20px;
    display: block;
    margin-bottom: 30px;
    line-height: 2;
    border-bottom: solid 1px #666;
    font-weight: bold;
    letter-spacing: 1px;
    color: #666666;
}
.site-content .product-thumb {
    max-width: 80px;
    height: auto;
    float: left;
    margin-bottom: 0px;
    margin-right: 20px;
    position: relative;
    overflow: hidden;
}
.product-thumb-primary {
    transform: translatey(0%);
    transition: all .5s cubic-bezier(.215, .61, .355, 1);
}
.product-thumb img {
    width: 100%;
}
.product-thumb-secondary {
    transform: translatey(-101%);
    z-index: 1;
    opacity: 1;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all .5s cubic-bezier(.215, .61, .355, 1);
}
.product-min:hover .product-thumb-secondary {
    transform: translatey(0%);
}
.product-min:hover .product-thumb-primary {
    transform: translatey(100%);
}
.product-quick-view {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 36px;
    width: 36px;
    line-height: 36px;
    background: #f04;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 100%;
    z-index: 4;
    transform: scale(0);
    transition: all .5s cubic-bezier(.215, .61, .355, 1);
}
.product-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}
.product-min:hover .product-quick-view {
    transform: scale(1);
    color: #FFFFFF;
}
.product-min .product-info {
    padding-left: 104px;
}
.product-min .product-name {
    text-align: left;
    font-size: 15px;
    line-height: 1.4;
    font-weight: 400;
    display: block;
    color: #212121;
    letter-spacing: 0.25px;
    margin-bottom: 4px;
}
.product-min .price {
    margin-bottom: 10px;
    text-align: left;
    color: #f04;
    font-size: 14px;
    display: block;
    font-weight: normal;
    font-family: Montserrat;
}
.product-min .amount {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}
.wpb-wrapper .top-rated {
    margin-bottom: 20px;
}
.wpb-wrapper .item-not-found {
    text-transform: uppercase;
    text-align: center;
}
.wpb-wrapper .single-image {
    margin-bottom: 50px;
    text-align: center;
}
.wpb-wrapper .single-image figure {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    max-width: 100%;
}
.single-image figure img {
    height: auto;
    max-width: 100%;
    vertical-align: top;
    transition: all .4s cubic-bezier(.215, .61, .355, 1);
}
.single-image figure .image-wrapper {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    overflow: hidden;
}
.single-image figure img:hover {
    transform: scale(1.2);
    opacity: .8;
}
.wpb-wrapper .trending-product {
    position: relative;
    min-height: 637px;
}
.wpb-wrapper .nav-mod {
    justify-content: space-around;
    border-bottom: 0px !important;
    margin-bottom: 30px;
}
.wpb-wrapper .nav-tabs .nav-link.active {
    border-color: #fff #fff red !important;
}
.wpb-wrapper .nav-tabs .nav-link:hover {
    border-color: #fff #fff red !important;
}
.wpb-wrapper .nav-mod li button {
    text-transform: uppercase;
    font-weight: bold;
    color: #666666;
    font-family: Montserrat;
    letter-spacing: 1px;
}
.trending-product .product-feature {
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 50px;
}
.trending-product .product-large {
    height: auto;
    margin-bottom: 22px;
    position: relative;
    overflow: hidden;
}
.product-large img {
    width: 100%;
    height: 100%;
}
.product-feature:hover .product-thumb-primary {
    transform: translatey(100%);
}
.product-feature:hover .product-thumb-secondary {
    transform: translatey(0%);
}
.product-cat {
    text-align: center;
}
.trending-product .product-cat a {
    font-family: Montserrat;
    font-size: 12px;
    text-transform: uppercase;
    color: #868686;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    display: inline-block;
}
.product-name {
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 1.4;
    font-weight: 400;
    display: block;
    color: #212121;
    letter-spacing: 0.25px;
}
.product-feature .price {
    text-align: center;
    color: #f04;
    font-size: 14px;
    display: block;
    margin-bottom: 20px;
    font-weight: normal;
    font-family: Montserrat;
}
.product-feature .product-button {
    text-align: center;
    position: relative;
}
.add-to-cart-btn, .add-to-wishlist {
    font-family: Montserrat;
    /* background-color: #f04;
    border: 1px solid #f04;
    color: #ffffff; */
    text-transform: uppercase;
    letter-spacing: -0.4px;
    line-height: 1.2;
    font-size: 13px;
    padding: 10.5px 20px;
    border-radius: 38px;
    background-color: #eee;
    border-color: #eee;
    color: #999999;
    font-weight: bold;
    transition: all .5s ease-out;
}
.wish-btn {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: -20px;
    left: -40px;
    padding: 10.5px 13px;
    background-color: #f04;
    border: 1px solid #f04;
    color: #ffffff;
    transition: all .5s cubic-bezier(.215, .61, .355, 1);
}
.compare-button {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 0px;
    right: -38px;
    color: #fff;
    background-color: #f04;
    border-radius: 50%;
    height: 38px;
    width: 38px;
    padding: 8px 12px;
    transition: all .5s cubic-bezier(.215, .61, .355, 1);
}
.product-feature:hover .add-to-cart-btn{
    background-color: #f04;
    border-color: #f04;
    color: #ffffff;
}
.product-feature:hover .wish-btn {
    opacity: 1;
    visibility: visible;
    left: 5px;
}
.product-feature:hover .compare-button {
    opacity: 1;
    visibility: visible;
    right: 5px;
}
.product-feature:hover .product-quick-view {
    transform: scale(1);
    color: #FFFFFF;
}
.slick-prev, .slick-next {
    top: 30%;
}
.slick-prev::before, .slick-next::before {
    font-size: 36px;
    opacity: 1;
    color: #f5f5f5;
}

.wpb-wrapper .fullwidth {
    overflow: hidden;
}
.wpb-wrapper .image-wrapper {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    overflow: hidden;
}
.wpb-wrapper .image-wrapper img {
    height: auto;
    max-width: 100%;
    vertical-align: top;
    transition: all .4s cubic-bezier(.215, .61, .355, 1);
}
.wpb-wrapper .image-wrapper img:hover {
    transform: scale(1.2);
    opacity: .8;
}
.product-slider {
    position: relative;
}
.shortcode-product .title-shortcode {
    padding-left: 15px;
    padding-bottom: 20px;
    padding-top: 30px;
}
.shortcode-product .title-shortcode h2 {
    font-size: 16px;
    font-family: Montserrat;
    text-transform: uppercase;
    display: inline-block;
    line-height: 2;
    border-bottom: solid 1px #666;
    font-weight: bold;
    letter-spacing: 1px;
    color: #666666;
    margin-bottom: 20px;
}
.shortcode-product .product-feature {
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 50px;
}
.shortcode-product .product-large {
    height: auto;
    margin-bottom: 22px;
    position: relative;
    overflow: hidden;
}
.product-large img {
    width: 100%;
    height: 100%;
}
.shortcode-product .product-cat a {
    font-family: Montserrat;
    font-size: 12px;
    text-transform: uppercase;
    color: #868686;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    display: inline-block;
}
.product-item-feature {
    top: 10px;
    left: 10px;
    position: absolute;
    z-index: 4;
}
.on-new {
    background: #7F8FA0;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    border-radius: 100%;
}
.product-min .price {
    margin-bottom: 10px;
    text-align: left;
    color: #f04;
    font-size: 14px;
    display: block;
    font-weight: normal;
    font-family: Montserrat;
}
.product-min .amount {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}
.site-content .service .zorka-icon-box {
    background-color: #f5f5f5;
    justify-content: left;
}
.site-content .service .zorka-icon-box .title-box {
    display: inline-block;
    padding: 2rem 0 2rem 0.5rem;
}
.site-content .service .zbox-icon {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
}
.site-content .service .zbox-title {
    color:#25282c;;
    height: auto;
    font-size: 14px;
    padding: 0;
}
.site-content .service .zbox-title:hover {
    color: #f04;
}
.site-content .service .sub-title {
    font-size: 13px;
    font-style: italic;
    letter-spacing: 2px;
    line-height: 1.8;
    color: #777777;
    overflow-wrap: break-word;
}
.site-content .service .zbox-icon i {
    color: #f04;
    font-size: 48px;
    line-height: 1;
}

footer .footer-top {
    padding-top: 4rem;
    padding-bottom: 2rem;
}
.main-footer {
    background-color: #222222;
}
.main-footer .widget-title span {
    border-bottom: 1px solid #fff;
}
.main-footer .widget-title {
    color: #fff;
}
.main-footer .widget-title {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.main-footer .widget-title span {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 6px;
}
.main-footer .textwidget span {
    display: block;
    margin-bottom: 14px;
    font-weight: 400;
    letter-spacing: 0;
    font-size: 14px;
}
.main-footer .textwidget .social a {
    font-size: 22px;
    padding-right: 10px;
    padding-left: 10px;
    display: inline-block;
}
.main-footer .textwidget .social a:first-child {
    padding-left: 0px;
}
.main-footer .menu {
    list-style: none;
    padding-left: 0px;
    text-transform: uppercase;
    line-height: 1.5;
    font-weight: 600;
    display: inline-block;
    margin-top: -10px;
}
.main-footer .widget-nav-menu ul.menu a:hover {
    padding-left: 10px;
    color: #f04 !important;
}
.main-footer .widget-nav-menu ul.menu li:first-child {
    margin-top: 5px;
    padding-top: 5px;
}
.main-footer .widget-nav-menu > div li + li {
    margin-top: 10px;
    border-top: 1px solid #ddd;
}
.main-footer .widget-nav-menu ul.menu li {
    /* min-width: 50%; */
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0;
    text-transform: none;
    margin-top: 5px;
    border-top: none;
}
.widget-nav-menu > div li {
    padding-top: 5px;
    margin-bottom: 5px;
}
.main-footer .widget-nav-menu ul.menu a {
    transition: all .3s;
}
.main-footer .footer-bottom {
    background-color: #111111;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.main-footer .footer-bottom .copyright-text {
    text-transform: none;
    padding-top: 16px;
}
.main-footer .footer-bottom .payment {
    text-align: right;
    margin-top: 10px;
}
.main-footer .footer-bottom .payment a {
    margin-left: 2px;
    margin-right: 2px;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid transparent;
    opacity: .7;
}
.main-footer .footer-bottom .payment a img {
    width: 51px;
    height: 32px;
    max-width: 100%;
}
.service-heading h2 {
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.6rem;
}
.service-icon-box {
    text-align: center;
}
.service-icon-box .sbox-icon {
    display: block;
}
.service-icon-box .sbox-icon i {
    font-size: 48px;
    color: #f04;
}
.service-icon-box .sbox-title {
    display: inline-block;
    color: #25282c;
    font-weight: bold;
    font-family: Montserrat;
    font-size: 14px;
}
.service-icon-box p {
    padding-top: 0.6rem;
    margin-bottom: 1.2rem;
    color: #777777;
}
.portfolio-heading h2 {
    text-transform: uppercase;
    font-size: 26px;
    margin: 0;
}
.portfolio .portfolio-filter button {
    text-transform: capitalize;
}
.portfolio-container .portfolio-item {
    transition: all 300ms ease 0s;
}
.portfolio-container .portfolio-item img {
    width: 100%;
    height: auto;
    border: 10px solid transparent;
    transition: all .5s cubic-bezier(.215, .61, .355, 1);
}
.portfolio-container .portfolio-item:hover img {
    background-color: transparent;
    border: solid 10px #dedede;
}
.portfolio-container .portfolio-item:hover .product-quick-view {
    transform: scale(1);
}
.portfolio-container .portfolio-item .product-quick-view:hover {
    color: #fff;
}
.testimonial h6 {
    margin: 0;
    text-align: center;
    font-size: 26px;
    margin-bottom: 13px;
    text-transform: uppercase;
}
.testimonial-item p {
    padding-left: 10px;
    text-align: left;
    margin: 0;
    margin-left: 130px;
}
.testimonial-item .testimonial-name {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    color: #25282c;
    text-transform: uppercase;
    line-height: 1.6;
    padding-bottom: 8px;
}
.testimonial-item .testimonial-job {
    font-size: 13px;
    font-style: italic;
    color: #202020;
    letter-spacing: 3px;
    line-height: 1.2;
}
.testimonial-item .testimonial-content {
    max-width: 830px;
    font-size: 14px;
    /* background: url(https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img/https://fiore.com.bd/wp-content/themes/zorka/shortcode/assets/images/quote.png) 0 15px no-repeat; */
    padding-top: 19px;
    color: #444;
    line-height: 2;
    letter-spacing: 0.2px;
}
.our-team .team-heading {
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-family: Montserrat;
}
.our-team-item .our-team-img {
    overflow: hidden;
}
.our-team-item .our-team-img img {
    width: 100%;
    height: auto;
    opacity: 0.7;
    transition: all .2s ease-in-out;
}
.our-team-item:hover .our-team-img img {
    opacity: 1;
    transform: scale(1.1);
}
.our-team-item .card .card-title {
    font-size: 14px;
}
.our-team-item .team-designation {
    font-style: italic;
    font-size: 13px;
    color: #202020;
    letter-spacing: 3px;
    line-height: 1.2;
    text-align: center;
}
.our-team-item .our-team-social {
    padding: 0;
    justify-content: center;
}
.our-team-item ul li {
    padding: 0 9px;
    display: inline-block;
}
.our-team-item ul li a {
    transition: all .5s ease 0s;
    color: #CCCCCC;
}
.our-team-item ul li a i {
    font-size: 15px;
}
.our-team-item ul li a.team-fb:hover i {
    color: #4B6EA8;
}
.our-team-item ul li a.team-twitter:hover i {
    color: #4FD5F8;
}
.our-team-item ul li a.team-instagram:hover i {
    color: #F63E28;
}
.our-team-item ul li a.team-linkedin:hover i {
    color: #0189C3;
}
.counter {
    background-image: url("../img/banner/about-us/bg-counter.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.counter .customer-counter {
    padding: 11rem 0;
}
.counter .customer-counter h1 {
    margin: 0;
}
.counter .customer-counter p.counter-text {
    font-size: 13px;
    color: #1F1F1F;
    line-height: 1.4;
    margin-top: 12px;
    text-transform: uppercase;
}